:root {
  --color: #04aa6d;
  --borderColor: rgb(234, 160, 12);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 250px;
  max-width: 500px;
  border: 2px solid var(--borderColor);
}
.container {
  margin: -2px -40px 0px -11px;
  padding: 5px;
}

textarea {
  width: 80%;
  min-height: 20px;
  padding: 4px;
  border: 1px solid var(--color);
  box-sizing: border-box;
  resize: none;
  overflow: hidden;
  margin: 5px 0px 0px 14px;
}

#delete-all-Item {
  background-color: white;
  color: #000;
  font-weight: bold;
  border: 1px solid var(--color);
}

ul {
  margin: 0 10px;
  padding: 0px;
  font-size: 12px;
  list-style: none;
  font-family: system-ui;
  color: darkgoldenrod;
  font-weight: bold;
}
li {
  margin-top: 1px;
  /* line-height: 0.8; */
}

#delete-all-Item:active {
  background-color: #3e8e41;
  color: #fff;
  box-shadow: 0 5px var(--borderColor);
  transform: translateY(4px);
}
#delete-all-Item button:hover {
  background-color: #3e8e41;
}

.deleteItem,
.copyItem {
  font-size: 0.5rem;
  cursor: pointer;
  padding: 1px 1px;
  margin: 6px -20px 2px 20px;
}

.list-items {
  padding: 0.2rem 0rem;
}
button {
  display: inline-block;
  padding: 5px 7px;
  font-size: 8px;
  margin: 6px -20px 2px 22px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: var(--color);
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px var(--borderColor);
  border: 1px solid var(--color);
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px var(--borderColor);
  transform: translateY(4px);
}
